.projects-light {
  --projects-background-color: #131391;
  --projects-gradient: linear-gradient(to bottom, #2121e2, #00002c);
  --intro-title: #0f46a2;
}
.projects-dark {
  --projects-background-color: #0f0f0f;
  --projects-gradient: linear-gradient(to bottom, #0f0f0f, #0f0f0f);
  --intro-title: black;
}
.projects {
  background-color: var(--projects-background-color);
  background: var(--projects-gradient);
  color: white;
}
.projects-icon {
  margin-top: 2px;
  font-size: 2.5rem;
}
.projects-icon:hover {
  color: #ffe600;
}
.projects-heading {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 600;
}
.projects-quote {
  text-align: center;
  font-weight: 600;
}
.container {
  display: flex;
  justify-content: center;
}
.card {
  height: 290px;
  width: 610px;
  position: relative;
  overflow: hidden;
  border-radius: 7px;
  margin: 15px;
  box-shadow: 0 0.5rem 1rem rgb(255, 255, 255);
}
.card:hover {
  cursor: pointer;
}
.card:hover .intro {
  bottom: 0%;
}
.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro {
  height: 215px;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: -150px;
  background-color: rgba(255, 255, 255, 0.889);
  border-radius: 7px 7px 0px 0px;
  overflow: hidden;
  transition: all 0.3s;
}
.intro-title {
  background-color: var(--intro-title);
  padding: 1.2rem;
}
.intro-desc {
  padding: 0.7rem;
  color: black;
  font-weight: 600;
}
.projects-button {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
}
.projects-btn {
  display: flex;
  font-size: 1rem;
  padding: 14px 32px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  background-color: black;
  border: none;
}
.projects-btn:hover {
  background-color: #2b3dda;
}
