.projects {
  background-color: #131391;
  color: white;
}
.projects-icon {
  margin-top: 2px;
  font-size: 2.5rem;
}
.projects-icon:hover {
  color: #ffe600;
}
.projects-heading {
  text-align: center;
  padding: 2rem;
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 600;
}
.projects-quote {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}
.container {
  display: flex;
}
.card {
  /* height: 500px; */
  /* width: 50px; */
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  border-radius: 25px;
}
.img {
  /* height: 500px; */
  /* width: 350px; */
  border-radius: 10px;
}
.intro {
  height: 200px;
  width: 350px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  bottom: 240px;
  background-color: rgb(27, 27, 27);
  color: white;
}
.card:hover {
  cursor: pointer;
}
