.education {
  background: linear-gradient(to bottom, #83eaf1, #63a4ff);
  /* background-color: #e5ecfb; */
  font-family: Poppins, sans-serif;
}
.education-icon {
  font-size: 3rem;
}
.education-icon:hover {
  color: #7303a7;
}
.education-heading {
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 900;
  font-size: 2rem;
}
.education-quote {
  text-align: center;
  font-weight: 600;
}

.education-content-box-right {
  background-color: #0f46a2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 5px 10px rgb(48 68 247 / 60%);
}
.education-content-box-right:hover {
  box-shadow: 0px 5px 10px rgb(48 68 247 / 60%);
  margin-bottom: 20px;
}
.education-content-text-right {
  margin-left: 15px;
  padding-top: 10px;
  padding-bottom: 1.2rem;
}
.education-content-box-left {
  background-color: #0f46a2;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  box-shadow: 0px 5px 10px rgb(48 68 247 / 60%);
}
.education-content-box-left:hover {
  box-shadow: 0px 5px 10px rgb(48 68 247 / 60%);
}
.education-content-text-left {
  margin-left: 15px;
  padding-top: 10px;
  text-align: left;
  padding-bottom: 1.2rem;
}
