.error {
  /* margin-top: 2rem; */
  height: 400px;
  background-image: url("../../assests/gif-error404.gif");
  background-repeat: no-repeat;
  background-position: center;
}
.error-Heading {
  text-align: center;
  font-size: 100px;
  font-weight: 900;
}
.error-text {
  text-align: center;
  align-items: center;
  padding: 1.5%;
}
.error-text h1 {
  font-size: 3rem;
  font-weight: 700;
}
.error-text h3 {
  font-size: 1rem;
  font-weight: 600;
}
