.logo {
  color: black;
  font-family: "Itim";
  text-decoration: none;
  font-weight: 700;
  display: inline-flex;
}
.nav-links-container {
  display: flex;
  justify-content: space-around;
}
.nav-link {
  color: black;
  font-size: 1.2rem;
  font-family: "Itim", cursive;
  font-weight: 600;
  text-decoration: none;
  padding: 0 8px;
  justify-content: space-around;
}
.nav-link:hover {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
}
.active {
  color: #011aff;
  border-bottom: 0.2rem solid #011aff;
}
.quick-links {
  color: azure;
  text-decoration: none;
  padding: 5px;
  display: flex;
}
.quick-links:hover {
  color: #3f1be5;
}
.fonts {
  font-size: 1.5rem;
  text-decoration: none;
  color: azure;
  margin-right: 0.5rem;
  margin-top: 1rem;
}
.fonts:hover {
  color: #3f1be5;
}
.footer-heading {
  padding-bottom: 1.5rem;
}
