.home {
  background-color: #f7f7f7;
}
.home-heading {
  font-size: 3rem;
  color: #002057;
}
.home-heading span {
  color: #0984ad;
}
.home-paragraph {
  font-size: 1.5rem;
  color: #002057;
}
.icons {
  margin-top: 7px;
}
.icons:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.image {
  text-align: center;
}

.image img {
  margin: 3rem;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
  height: 400px;
  width: 300px;
}
.image img:hover {
  mix-blend-mode: normal;
}
