.contactme {
  background-color: #e5ecfb;
  color: black;
}
.contactme-icon {
  margin-top: 2px;
  font-size: 2.5rem;
}
.contactme-icon:hover {
  color: #7303a7;
}
.contactme-heading {
  text-align: center;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 2.3rem;
  font-weight: 600;
}
.contactme-quote {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}
.map {
  border: 3px solid #2506ad;
}
.form-container {
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 5px 10px rgb(0 0 0 / 15%);
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.input {
  display: flex;
  height: 3rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  position: relative;
}
.input input {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 1.1rem;
  background-color: #e5ecfb;
  padding: 0 16px 0 48px;
  border: 1.5px solid rgb(51, 51, 51);
}
.input-icon {
  position: absolute;
  font-size: 1.5rem;
  padding-left: 1px;
  margin-left: 13px;
  margin-top: 11px;
}
.textarea {
  display: flex;
  height: 10rem;
  width: 100%;
  border-radius: 10px;
  max-width: 500px;
}
.textarea textarea {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5rem;
  background-color: #e5ecfb;
  border: 1px solid rgb(51, 51, 51);
  min-height: 130px;
  max-height: 230px;
  /* max-width: 100%;
  min-width: 100%; */
  padding: 12px 20px 0 48px;
}
.textarea-icon {
  position: absolute;
  font-size: 1.5rem;
  padding-left: 1px;
  margin-left: 13px;
  margin-top: 18px;
}
.contact-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 800;
  padding: 14px 32px;
  border-radius: 7px;
  cursor: pointer;
  color: white;
  background-color: #2506ad;
  border: none;
  box-shadow: 0px 5px 10px rgb(48 68 247 / 60%);
}
.contact-btn-icon {
  stroke: white;
  top: 6px;
  left: 2px;
  font-size: 1.5rem;
}
